a,
a:visited,
a:focus {
  color: var(--oh-color--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dataTable a {
  color: var(--oh-color--text);
  display: block;
  width: 100%;
}

.dataTable a:hover {
  color: var(--oh-color--link);
}
