{% extends 'hemeroteca/wrapper.html' %}
{% load static %}

{% block head %}
<script src="{% static statics.script %}"></script>
<link rel="stylesheet" href="{% static statics.style %}" />
<link rel="stylesheet" href="{% static 'hemeroteca/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'hemeroteca/css/components/reader.css' %}" />
{% endblock %}

{% block content %}
<h3>Artícle</h3>
<h1>{{ article.title }}</h1>
<ul>
  <li>
    <strong>Firma: </strong>
    {% if article.signature %}
    <a href="{% url 'hemeroteca:signature' article.signature.pk %}">{{ article.signature.name }}</a>
    {% else %}
    Sense firma
    {% endif %}
  </li>
  <li>
    <strong>Secció: </strong>
    {% if article.section %}
    <a href="{% url 'hemeroteca:section' article.section.pk %}">{{ article.section.name }}</a>
    {% else %}
    Sense secció
    {% endif %}
  </li>
  <li><strong>Data: </strong><a href="{% url 'hemeroteca:publication' article.publication.pk %}">{{ article.publication.date | date:'d-m-Y' }}</a></li>
  <li><strong>Número: </strong><a href="{% url 'hemeroteca:publication' article.publication.pk %}">{{ article.publication.number }}</a></li>
</ul>

<div id="pdfReader" class="pdf-document"></div>
  <script>
    window.addEventListener("DOMContentLoaded", () => renderPdf({
        rootEl: document.getElementById("pdfReader"),
        pk: {{ article.publication.pk }},
        source: "{% static article.publication.file %}",
        page: "{{ article.page }}",
        search: "{{ request.GET.search }}",
        isVector: {% if article.publication.is_vector %}true{% else %}false{% endif %}
    }));
  </script>
{% endblock %}
