{% extends 'hemeroteca/wrapper.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'hemeroteca/css/pages/articles.css' %}" />
{% endblock %}

{% block content %}
<h1>Articles</h1>
<table id="articles" class="compact hover stripe">
  <thead>
    <tr>
      <th>Títol</th>
      <th>Firma</th>
      <th>Secció</th>
      <th>Núm.</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
{% endblock %}

{% block footer %}
<script src="{% static 'hemeroteca/js/articles.ajax-table.js' %}" async></script>
{% endblock %}
