{% extends 'hemeroteca/wrapper.html' %}
{% load static %} 

{% block head %}
<script src="/static/hemeroteca/js/pdf-reader/build/static/js/main.js"></script>
<link rel="stylesheet" href="/static/hemeroteca/js/pdf-reader/build/static/css/main.css" />
<link rel="stylesheet" href="{% static 'hemeroteca/css/components/reader.css' %}" />
<link rel="stylesheet" href="{% static 'hemeroteca/css/pages/publication.css' %}" />
{% endblock %}

{% block content %}
<h3>Publicació</h3>
<h1>Número {{ publication.number }}</h1>
<div id="pdfReader" class="document"></div>

<script>
    window.addEventListener("DOMContentLoaded", () => renderPdf({
        rootEl: document.getElementById("pdfReader"),
        source: "{% static publication.file %}",
        search: "{{ request.GET.search }}",
    }));
</script>

<br>
<h2>Articles</h2>
{% include 'hemeroteca/articles_table.html' %}
{% endblock %}
