{% extends 'hemeroteca/wrapper.html' %}
{% load static %} 

{% block head %}
<script src="{% static statics.script %}"></script>
<link rel="stylesheet" href="{% static statics.style %}" />
<link rel="stylesheet" href="{% static 'hemeroteca/css/components/reader.css' %}" />
<link rel="stylesheet" href="{% static 'hemeroteca/css/pages/publication.css' %}" />
{% endblock %}

{% block content %}
<h3>Publicació</h3>
<h1>Número {{ publication.number }}</h1>
<div id="pdfReader" class="document"></div>

<script>
    window.addEventListener("DOMContentLoaded", () => renderPdf({
        rootEl: document.getElementById("pdfReader"),
        pk: {{ publication.pk }},
        source: "{% static publication.file %}",
        search: "{{ request.GET.search }}",
        isVector: {% if publication.is_vector %}true{% else %}false{% endif %}
    }));
</script>

<br>
<h2>Articles</h2>
{% include 'hemeroteca/articles_table.html' %}
{% endblock %}
