{% extends 'hemeroteca/wrapper.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'hemeroteca/css/pages/publications.css' %}" />
{% endblock %}

{% block content %}
<h1>Cercador</h1>
<form id="search">
  <div class="field">
    <input type="text" placeholder="Què estàs buscant?" />
  </div>
  <div class="field">
    <input type="submit" value="Cerca" />
  </div>
</form>
<table id="publications" class="compact hover stripe">
  <thead>
    <tr>
      <th>Portada</th>
      <th>Número</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
{% endblock %} {% block footer %}
<script src="{% static 'hemeroteca/js/search.js' %}" async></script>
{% endblock %}
