@import url(elements/anchor.css);
@import url(elements/heading.css);

@import url(parts/header.css);

@import url(components/navigation.css);
@import url(components/form.css);
@import url(components/data-table.css);
@import url(components/page.css);

:root {
  --oh-main--width: 920px;
  --oh-main--padding: 5vw;
  --oh-color--primary: #75b78e;
  --oh-color--secondary: #ffffff;
  --oh-color--text: #333333;
  --oh-color--link: #4452df;
  --oh-line-height: 1.6;
  --oh-line-height--l: 1.9;
  --oh-line-height--s: 1.2;
  --oh-line-height--xs: 1;
  --oh-font-size: 16px;
  --oh-font-size--xl: 36px;
  --oh-font-size--l: 24px;
  --oh-font-size--s: 12px;
  --rpv-core__inner-page-background-color: #f1f1f1;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--oh-font-size);
  line-height: var(--oh-line-height);
  color: var(--oh-text-color);
  margin: 0;
  padding: 0;
  width: 100vw;
}

.site-wrapper {
  overflow: hidden;
  width: 100%;
}

.site-content {
  max-width: var(--oh-main--width);
  margin: auto;
  padding: 0 var(--oh-main--padding);
  padding-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 920px) {
  .site-content {
    padding-top: 2rem;
  }
}

.publication-cover {
  max-width: 100%;
}
